<!-- todos/item_create.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Todo Item</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                <p>
                    <label for="id_task">Task:</label>
                    <input type="text" name="task" id="id_task" required>
                </p>
                <p>
                    <label for="id_due_date">Due Date:</label>
                    <input type="text" name="due_date" id="id_due_date" required>
                </p>
                <p>
                    <label for="id_is_completed">Is Completed:</label>
                    <input type="checkbox" name="is_completed" id="id_is_completed">
                </p>
                <p>
                    <label for="id_list">List:</label>
                    <select name="list" id="id_list" required>
                        {% for todo_list in todo_lists %}
                            <option value="{{ todo_list.id }}">{{ todo_list.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>
</html>
